@{
    ViewData["Title"] = "Enrolment History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="min-h-screen rounded flex flex-col xl:col-span-2 p-10 pt-0">
    <header class="sticky top-0 w-full flex self-start items-center justify-between py-6 bg-white"
            style="mask-image: linear-gradient(to bottom, black 60%, transparent);">
        <div class="flex-1 md:flex md:items-center md:gap-12">
            <h2 class="text-2xl font-semibold text-gray-900">
                Enrolment History
            </h2>
        </div>

        <div class="md:flex md:items-center md:gap-12">
            <nav aria-label="Global" class="hidden md:block">
                <ul class="flex items-center gap-6 text-sm">
                    <li>
                        <a class="text-gray-500 transition hover:text-blue-500" asp-action="Schedule"> Schedule </a>
                    </li>

                    <li>
                        <a class="text-black font-medium"> History </a>
                    </li>

                    <li>
                        <a class="text-gray-500 transition hover:text-blue-500" asp-action="Profile"> Profile </a>
                    </li>
                </ul>
            </nav>

            <a
                type="button" asp-action="Logout" asp-controller="Auth"
                class="text-gray-500 transition hover:text-blue-500 text-sm"
            >
                Logout
            </a>
        </div>
    </header>
    <div class="flex-grow w-full space-y-4">
        <details class="group [&_summary::-webkit-details-marker]:hidden">
            <summary
                    class="flex items-center justify-between gap-1.5 rounded-md border border-gray-100 bg-gray-50 px-6 py-4 text-gray-900"
            >
                <h2 class="text-lg font-medium">2024-2025 2nd Semester</h2>

                <svg
                        class="size-5 shrink-0 transition-transform duration-300 group-open:-rotate-180"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                >
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
            </summary>

            <div class="mt-4 mb-8 flex-grow rounded-lg border border-gray-300 p-6 pt-4 grid grid-cols-6 grid-rows-[auto,repeat(5,1fr),auto,repeat(5,1fr)] gap-x-2 gap-y-1">
                <div class="text-xs text-gray-700 col-span-1 text-center mb-3"> Monday     </div>
                <div class="text-xs text-gray-700 col-span-1 text-center mb-3"> Tuesday    </div>
                <div class="text-xs text-gray-700 col-span-1 text-center mb-3"> Wednesday  </div>
                <div class="text-xs text-gray-700 col-span-1 text-center mb-3"> Thursday   </div>
                <div class="text-xs text-gray-700 col-span-1 text-center mb-3"> Friday     </div>
                <div class="text-xs text-gray-700 col-span-1 text-center mb-3"> Saturday   </div>

                <div class="row-start-8 row-end-10">
                    <a href="#" class="block h-full rounded-lg p-4 bg-blue-600">
                        <p class="text-sm leading-tight font-medium text-white">Data Structures and Algorithms (Lec)</p>

                        <p class="mt-1 text-xs text-gray-100">
                            IT203 &middot; 1:00 PM - 2:00 PM
                        </p>
                    </a>
                </div>
                <div class="col-start-2 row-start-2 row-end-4">
                    <a href="#" class="block h-full rounded-lg p-4 bg-blue-600">
                        <p class="text-sm leading-tight font-medium text-white">Information Management</p>

                        <p class="mt-1 text-xs text-gray-100">
                            IT203 &middot; 1:00 PM - 2:00 PM
                        </p>
                    </a>
                </div>
                <div class="col-start-2 row-start-8 row-end-11">
                    <a href="#" class="block h-full rounded-lg p-4 bg-blue-600">
                        <p class="text-sm leading-tight font-medium text-white">Readings in Philippine History</p>

                        <p class="mt-1 text-xs text-gray-100">
                            IT203 &middot; 1:00 PM - 2:00 PM
                        </p>
                    </a>
                </div>
            </div>
        </details>

        <details class="group [&_summary::-webkit-details-marker]:hidden">
            <summary
                    class="flex items-center justify-between gap-1.5 rounded-md border border-gray-100 bg-gray-50 px-6 py-4 text-gray-900"
            >
                <h2 class="text-lg font-medium">2024-2025 2nd Semester</h2>

                <svg
                        class="size-5 shrink-0 transition-transform duration-300 group-open:-rotate-180"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                >
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
            </summary>

            <div class="mt-4 mb-8 flex-grow rounded-lg border border-gray-300 p-6 pt-4 grid grid-cols-6 grid-rows-[auto,repeat(5,1fr),auto,repeat(5,1fr)] gap-x-2 gap-y-1">
                <div class="text-xs text-gray-700 col-span-1 text-center mb-3"> Monday     </div>
                <div class="text-xs text-gray-700 col-span-1 text-center mb-3"> Tuesday    </div>
                <div class="text-xs text-gray-700 col-span-1 text-center mb-3"> Wednesday  </div>
                <div class="text-xs text-gray-700 col-span-1 text-center mb-3"> Thursday   </div>
                <div class="text-xs text-gray-700 col-span-1 text-center mb-3"> Friday     </div>
                <div class="text-xs text-gray-700 col-span-1 text-center mb-3"> Saturday   </div>

                <div class="row-start-8 row-end-10">
                    <a href="#" class="block h-full rounded-lg p-4 bg-blue-600">
                        <p class="text-sm leading-tight font-medium text-white">Data Structures and Algorithms (Lec)</p>

                        <p class="mt-1 text-xs text-gray-100">
                            IT203 &middot; 1:00 PM - 2:00 PM
                        </p>
                    </a>
                </div>
                <div class="col-start-2 row-start-2 row-end-4">
                    <a href="#" class="block h-full rounded-lg p-4 bg-blue-600">
                        <p class="text-sm leading-tight font-medium text-white">Information Management</p>

                        <p class="mt-1 text-xs text-gray-100">
                            IT203 &middot; 1:00 PM - 2:00 PM
                        </p>
                    </a>
                </div>
                <div class="col-start-2 row-start-8 row-end-11">
                    <a href="#" class="block h-full rounded-lg p-4 bg-blue-600">
                        <p class="text-sm leading-tight font-medium text-white">Readings in Philippine History</p>

                        <p class="mt-1 text-xs text-gray-100">
                            IT203 &middot; 1:00 PM - 2:00 PM
                        </p>
                    </a>
                </div>
            </div>
        </details>

        <details class="group [&_summary::-webkit-details-marker]:hidden">
            <summary
                    class="flex items-center justify-between gap-1.5 rounded-md border border-gray-100 bg-gray-50 px-6 py-4 text-gray-900"
            >
                <h2 class="text-lg font-medium">2024-2025 2nd Semester</h2>

                <svg
                        class="size-5 shrink-0 transition-transform duration-300 group-open:-rotate-180"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                >
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
            </summary>

            <div class="mt-4 mb-8 flex-grow rounded-lg border border-gray-300 p-6 pt-4 grid grid-cols-6 grid-rows-[auto,repeat(5,1fr),auto,repeat(5,1fr)] gap-x-2 gap-y-1">
                <div class="text-xs text-gray-700 col-span-1 text-center mb-3"> Monday     </div>
                <div class="text-xs text-gray-700 col-span-1 text-center mb-3"> Tuesday    </div>
                <div class="text-xs text-gray-700 col-span-1 text-center mb-3"> Wednesday  </div>
                <div class="text-xs text-gray-700 col-span-1 text-center mb-3"> Thursday   </div>
                <div class="text-xs text-gray-700 col-span-1 text-center mb-3"> Friday     </div>
                <div class="text-xs text-gray-700 col-span-1 text-center mb-3"> Saturday   </div>

                <div class="row-start-8 row-end-10">
                    <a href="#" class="block h-full rounded-lg p-4 bg-blue-600">
                        <p class="text-sm leading-tight font-medium text-white">Data Structures and Algorithms (Lec)</p>

                        <p class="mt-1 text-xs text-gray-100">
                            IT203 &middot; 1:00 PM - 2:00 PM
                        </p>
                    </a>
                </div>
                <div class="col-start-2 row-start-2 row-end-4">
                    <a href="#" class="block h-full rounded-lg p-4 bg-blue-600">
                        <p class="text-sm leading-tight font-medium text-white">Information Management</p>

                        <p class="mt-1 text-xs text-gray-100">
                            IT203 &middot; 1:00 PM - 2:00 PM
                        </p>
                    </a>
                </div>
                <div class="col-start-2 row-start-8 row-end-11">
                    <a href="#" class="block h-full rounded-lg p-4 bg-blue-600">
                        <p class="text-sm leading-tight font-medium text-white">Readings in Philippine History</p>

                        <p class="mt-1 text-xs text-gray-100">
                            IT203 &middot; 1:00 PM - 2:00 PM
                        </p>
                    </a>
                </div>
            </div>
        </details>
    </div>
</div>
