@{
    ViewData["Title"] = "Admin Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="min-h-screen rounded flex flex-col xl:col-span-2 p-10 pt-0">
    <header class="sticky top-0 w-full flex self-start items-center justify-center py-6 bg-white"
            style="mask-image: linear-gradient(to bottom, black 60%, transparent);">

        <div class="md:flex md:items-center md:gap-12">
            <nav aria-label="Global" class="hidden md:block">
                <ul class="flex items-center gap-6 text-sm">
                    <li>
                        <a class="text-gray-500 transition hover:text-blue-500" asp-action="Student"> Student </a>
                    </li>

                    <li>
                        <a class="text-gray-500 transition hover:text-blue-500" asp-action="Teacher"> Teacher </a>
                    </li>

                    <li>
                        <a class="text-gray-500 transition hover:text-blue-500" asp-action="ProgramHead"> Program Head </a>
                    </li>

                    <li>
                        <a class="text-black font-medium"> Admin </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="flex-grow flex items-center justify-center">
        <div
            class="h-full inset-0 z-50 grid place-content-center p-4"
            role="dialog"
            aria-modal="true"
            aria-labelledby="modalTitle"
        >
            <div class="w-full min-w-[28rem] max-w-md rounded-lg border border-gray-300 px-8 py-12">
                <h2 id="modalTitle" class="text-xl font-semibold text-gray-900 sm:text-2xl">Admin Login</h2>

                <div class="mt-1">
                    <p class="text-sm text-pretty text-gray-700">
                        Enter password to access administrator panel.
                    </p>
                </div>

                <div class="mt-4">
                    <label>
                        <span class="text-sm font-medium text-gray-700"> Password </span>

                        <input
                            type="password"
                            class="mt-1 w-full rounded border-gray-300 sm:text-sm"
                        />

                        <span class="mt-1 text-sm text-red-700"> Password is required </span>
                    </label>
                </div>

                <div class="mt-4">
                    <span class="mt-1 text-sm text-red-700"> Wrong password. Please try again. </span>
                </div>

                <div class="mt-6">
                    <button
                        type="button"
                        class="w-full rounded bg-blue-600 px-4 py-2.5 text-sm font-medium text-white transition-colors hover:bg-blue-700"
                    >
                        Login
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>