@{
ViewData["Title"] = "Forgot Password";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div
        class="fixed inset-0 z-50 grid place-content-center p-4"
        role="dialog"
        aria-modal="true"
        aria-labelledby="modalTitle"
>
    <div class="w-full min-w-[28rem] max-w-md rounded-lg border border-gray-300 px-8 py-12">
        <h2 id="modalTitle" class="text-xl font-semibold text-gray-900 sm:text-2xl">Forgot Password?</h2>

        <div class="mt-1">
            <p class="text-sm text-pretty text-gray-700">
                Enter the email address you used to register.
            </p>
        </div>

        <div class="mt-6">
            <label>
                <span class="text-sm font-medium text-gray-700"> Email </span>

                <input
                        type="email"
                        class="mt-1 w-full rounded border-gray-300 sm:text-sm"
                />

                <span class="mt-1 text-sm text-red-700"> Invalid email address </span>
            </label>
        </div>

        <footer class="mt-6 flex justify-between gap-2">
            <button
                type="button"
                onclick="window.history.back()"
                class="rounded bg-gray-100 px-4 py-2.5 text-sm font-medium text-gray-700 transition-colors hover:bg-gray-200"
            >
                Cancel
            </button>

            <form asp-action="ResetPasswordViaCode">
                <button
                    type="submit"
                    class="rounded bg-blue-600 px-4 py-2.5 text-sm font-medium text-white transition-colors hover:bg-blue-700"
                >
                    Reset password
                </button>
            </form>
        </footer>
    </div>
</div>
