@model StudentEnrolmentSystem.Models.Student
@{
    ViewData["Title"] = "Student Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="min-h-screen rounded flex flex-col xl:col-span-2 p-10 pt-0">
    <header class="sticky top-0 w-full flex self-start items-center justify-center py-6 bg-white"
            style="mask-image: linear-gradient(to bottom, black 60%, transparent);">

        <div class="md:flex md:items-center md:gap-12">
            <nav aria-label="Global" class="hidden md:block">
                <ul class="flex items-center gap-6 text-sm">
                    <li>
                        <a class="text-black font-medium"> Student </a>
                    </li>

                    <li>
                        <a class="text-gray-500 transition hover:text-blue-500" asp-action="Teacher"> Teacher </a>
                    </li>

                    <li>
                        <a class="text-gray-500 transition hover:text-blue-500" asp-action="ProgramHead"> Program Head </a>
                    </li>

                    <li>
                        <a class="text-gray-500 transition hover:text-blue-500" asp-action="Admin"> Admin </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="flex-grow flex items-center justify-center">
        <div
            class="h-full inset-0 z-50 grid place-content-center p-4"
            role="dialog"
            aria-modal="true"
            aria-labelledby="modalTitle"
        >
            <form id="studentLoginForm" data-action="@Url.RouteUrl("Student.Login")"
                  class="w-full min-w-[28rem] max-w-md rounded-lg border border-gray-300 px-8 py-12">
                <h2 id="modalTitle" class="text-xl font-semibold text-gray-900 sm:text-2xl">Student Login</h2>

                <div class="mt-1">
                    <p class="text-sm text-pretty text-gray-700">
                        Enter account details to access student portal.
                    </p>
                </div>

                <div class="mt-6">
                    <label>
                        <span class="text-sm font-medium text-gray-700"> ID number </span>

                        <input
                            type="text" maxlength="7" asp-for="StudCode"
                            class="mt-1 w-full rounded border-gray-300 sm:text-sm"
                        />

                        <span asp-validation-for="StudCode" class="mt-1 text-sm text-red-700"></span>
                    </label>
                </div>

                <div class="mt-4">
                    <label>
                        <div class="flex justify-between gap-2">
                            <span class="text-sm font-medium text-gray-700"> Password </span>
                        </div>

                        <input
                            type="password" asp-for="StudPassword"
                            class="mt-1 w-full rounded border-gray-300 sm:text-sm"
                        />

                        <span asp-validation-for="StudPassword" class="mt-1 text-sm text-red-700"></span>
                    </label>
                </div>

                <div class="mt-4">
                    <span id="loginError" class="mt-1 text-sm text-red-700"></span>
                </div>

                <div class="mt-6">
                    <button
                        type="submit"
                        class="w-full rounded bg-blue-600 px-4 py-2.5 text-sm font-medium text-white transition-colors hover:bg-blue-700"
                    >
                        Login
                    </button>
                </div>

                <footer class="mt-4 flex place-content-center gap-2">
                    <span class="text-sm text-gray-700"> Don't have an account? </span>
                    <a class="text-sm font-medium text-blue-600 hover:text-blue-700" asp-action="SignUp"> Sign up </a>
                </footer>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/auth/student-login.js"></script>
}

        