<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <script src="~/js/tailwindcss_3.4.js"></script>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    @RenderBody()
</body>
</html>