@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900; /* for variable font weight range */
    font-style: normal;
    font-display: swap;
}

html {
    overflow: auto;
    scrollbar-gutter: stable both-edges;
}
body {
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background-color: #f3f4f6;
    border-radius: 4px;
}